* {
  box-sizing: border-box;
}
*:focus {
  outline: solid 0.2rem #00f;
  outline-offset: 0.2rem;
}
a:hover {
  background-color: #ccc;
}
a:active {
  color: #fff;
  background-color: #00f;
}
.bb {
  font-size: 1.25rem;
  color: #fff;
  background-color: #006
}
.bb:hover {
  border-style: solid;
  border-width: 0.125rem;
  border-color: #006;
  color: #006;
  background-color: #fff;

}
.bl {
  font-size: 1.5rem;
  font-weight: 800;
}
.bl:hover {
  background-color: #ddf;
}
body {
  margin: 0 5% auto 5%;
  max-width: 55rem;
  font-size: 1.25rem;
  font-family: serif;
  background-color: #f3f4f2;
}
body.cardlet {
  font-size: 1.5rem;
}
button {
  min-height: 24px;
  min-width: 24px;
  margin: 0.5rem;
  padding: 0 1rem;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #000;
  font-family: serif;
  color: #fff;
  background-color: #00c;
}
button[disabled] {
  border: none;
  border-radius: 0;
  color: #333;
  background-color: #ddd;
}
button:hover:not([disabled]) {
  color: #000;
  background-color: #ccf;
}
.error {
  padding-left: 2rem;
  border: 0.3rem solid #f00;
}
fieldset {
  padding: 0;
  border: none;
}
.group {
  font-weight: 700;
  color: #000;
}
.groupAlpha {
  background-color: yellow;
}
.groupBeta {
  background-color: lime;
}
.groupGamma {
  background-color: lightcyan;
}
.groupDelta {
  background-color: magenta;
}
h1, h2 {
  margin: 0.5rem, 0;
}
.invisible {
  display: none;
}
.listbox {
  min-height: 1rem;
  padding: 0 0.5rem;
  border: 0.2rem solid #666;
}
p.summary {
  font-weight: 700;
  font-style: italic;
}
#patientForm ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.playerBox {
  margin: 0.25rem 0;
  padding: 0 0.25rem;
  border-width: 0.125rem;
  border-style: dotted;
  border-color: #666;
}
.playerBox > p {
  margin: 0.25rem 0;
}
.playerBox.deciding {
  border-width: 0.25rem;
  border-style: solid;
  border-color: #060;
  background-color: #f9faf8;
}
q {
  quotes: '“' '”';
}
q:after {
  content: close-quote;
}
q:before {
  content: open-quote;
}
svg {
  vertical-align: middle;
}
